.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: calc(20% - 15px);
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid gainsboro;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 0.5rem;
}

.product img {
    max-width: 100%;
    height: 100px;
}

.product-detail-container{
    max-width: 80%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.product-details-container {
    display: flex;
    flex-direction: row;
}
.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-data {
    flex: 2;
}
.product-data h2 {
    margin-top: 0;
    margin-left: 3.5rem;
}

.product h6, .product p {
 font-size: medium;
 margin-bottom: 0;
}

select {
    padding: 1rem 0;
}

.productscount {
    color: #000;
}


/* reviews */
.username-first-letter  {
  color: red;
}

@media (max-width: 600px) {
    .product-list {
      justify-content: center; 
    }
  
    .product {
      width: calc(45% - 10px); 
      height: 180px; 
    }
  
    .product-detail-container {
      max-width: 90%; 
    }
  
    .product-details-container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .product-image {
      margin-right: 0; 
      margin-bottom: 20px; 
    }
  
    .product-data {
      flex: none;
      text-align: center; 
    }
  
    .product-data h2 {
      margin-left: 0; 
    }
    
    .product h6,
    .product p {
      margin-top: 10px;
      font-size: small;
    }
  
    select {
      width: 100%; 
    }
  
    .productscount {
      color: #000; 
    }
  }
  